<div id="jumbo" class="jumbotron heading">
    <h1>Vector Solar Finance</h1>
    <p class="lead">{{headerText1}}</p>
    <P>{{headerText2}}</P>
    
</div>
<div id="main" class="row">
    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
        <p>{{text}}</p>
    </div>
    
    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <!--    this is the what-if analysis chart. Its using isolated scope you can supply the data through the localdata attribute.-->
        <what-if-analysis localdata="tableBodyData"></what-if-analysis>
    </div>
</div>
<div class="row">
    <div id="subheading" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2>{{subHeadingTitle}}</h2>
        <p>{{subHeadingText}}</p>
    </div>
    <div id="subheading" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2>{{subHeadingTitle}}</h2>
        <p>{{subHeadingText}}</p>
    </div>
    <div id="subheading" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h2>{{subHeadingTitle}}</h2>
        <p>{{subHeadingText}}</p>
    </div>
</div>
<footer class="footer"><p>© 2017 Vector Solar Finance</p></footer>