<div  class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> <i class="agieticon">
                    </i>SENDING DATA<i class="agietagiet-icon">
                    </i>
                </h4>
            </div>
            <div class="modal-body">
                <p>Data That Was Sent: {{tableBodyData.forthRow[4]}}</p>
                <div ng-if="loading">
                    <img id="mySpinner" src="/Images/Spinner.gif"/>
                </div>
                <div ng-if="showSuccess">
                    <p>Message: {{msg}}</p>
                </div>
                <div ng-if="showError">
                    <p>Message: {{msg}}</p>
                    <p>Status Code: {{statusval}}</p>
                    <p>Response Header: {{headers}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>